@use 'variaveis' as v;

.conteudo {
    display: grid;
    grid-template-areas:
        'header header header header'
        'main main main main'
        'footer footer footer footer';
    background-image: url(IMGS/AGC-home-back-pequena.jpeg);
    background-size: 175vw;
    background-repeat: no-repeat;
    background-position: center 6em;
}

.principal {
    width: 100vw;
}

.rodape {
    grid-area: footer;
    font-size: 0.7em;
    text-align: center;
    padding: 2.5em;
    color: v.$white;
}
