$honey-bronze: #F6AE2D;
$honey-bronze-light: #ffd27f;
$honey-bronze-dark: #c28006;
$prussias-blue: #031D44;
$prussias-blue-dark: #031d44c5;
$sky-surge: #5BC0EB;
$sky-surge-rgb: (82, 198, 252);
$emerald: #69DC9E;
$emerald-dark: #138a4a;
$dark-slate-grey: #384D48;
$white: #ffffff;
$black: #000000;

$transition-default: all 0.3s ease-in-out;
$transition-fast: all 0.2s ease-in-out;
$transition-slow: all 0.4s ease-in-out;
$shadow-box: 0px 5px 20px rgba(0, 0, 0, 0.366);
$shadow-glow: 0px 0px 20px;
