@use 'variaveis';
@use 'mixins';
@use 'base';
@use 'layout';
@use 'componentes';

/* Responsividade */

/* Small Devices (481px+) */
@media (min-width: 481px) {
  .conteudo {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), variaveis.$black, variaveis.$black, variaveis.$black),
      url(IMGS/AGC-home-back-pequena.jpeg);
    background-size: 135vw;
    background-position-y: 10vh;
  }

  .cabecalho__titulo {
    font-size: 2.5em;
  }

  .cabecalho--fixo .cabecalho__titulo {
    font-size: 2em;
  }

  .inicio {
    width: 65%;
  }

  .contato {
    width: 85%;
    margin: 0 auto 40vh auto;
  }

  .depoimentos .cartao-depoimento {
    width: 80%;
  }
}

/* Medium Devices (768px+) */
@media (min-width: 768px) {
  .conteudo {
    background-image: url(IMGS/AGC-home-back-media.jpeg);
    background-size: 100vw;
    background-position-y: 11vh;
  }

  .cabecalho__navegacao {
    margin-left: 0;
  }

  .cabecalho__link {
    font-size: 1.2em;
  }

  .cabecalho__titulo {
    margin-left: 0;
  }

  .cabecalho__logo {
    margin-right: -8em;
  }

  .cabecalho--fixo .cabecalho__navegacao {
    margin-left: -7em;
  }

  .cabecalho--fixo .cabecalho__icone {
    margin: 0 0.5em;
    width: 1.5em;
    height: 1.5em;
  }

  .inicio {
    margin-top: 13em;
    background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.904)),
      url(IMGS/home-back-media.jpeg);
    background-size: cover;
    background-position: top;
  }

  .depoimentos {
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.87),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.856)),
      url(IMGS/depoimentos-media.jpeg);
    background-size: cover;
    background-position: center;
  }

  .depoimentos .cartao-depoimento {
    width: 65%;
  }

  .titulo-destaque {
    font-size: 1.3em;
  }

  .inicio__descricao {
    font-size: 1.1em;
  }

  .servicos__grade {
    grid-template-areas:
      'ser1 ser2'
      'ser3 ser4';
  }

  .servicos {
    padding: 1em 4em;
  }
}

/* Large Devices (1024px+) */
@media (min-width: 1024px) {
  .conteudo {
    background-image: url(IMGS/AGC-home-back-grande.jpeg);
    background-size: 100vw;
    background-position-y: 6vh;
  }

  .cabecalho__titulo {
    margin-left: -3.2em;
  }

  .cabecalho__navegacao {
    margin-left: -8em;
  }

  .cabecalho--fixo .cabecalho__navegacao {
    margin-left: -16.5em;
  }

  .cabecalho--fixo .cabecalho__icone {
    width: 1.2em;
    height: 1.2em;
  }

  .inicio {
    margin-top: 13em;
    width: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.904)),
      url(IMGS/home-back-grande.jpeg);
    background-size: cover;
    background-position: top;
  }

  .sobre {
    grid-template-areas:
      'h2 ul'
      'p ul';
    padding: 35vh 2em;
  }

  .sobre .titulo-secao {
    margin: 0 0 -3em 0;
  }

  .sobre__descricao {
    width: 45%;
  }

  .lista-valores {
    margin-left: -20em;
    width: 25em;
  }

  .servicos {
    padding: 15vh 10em 25vh 10em;
  }

  .depoimentos {
    padding: 20vh 10em;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.87),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.856)),
      url(IMGS/depoimentos-grande.jpeg);
    background-size: cover;
    background-position: center;
  }

  .contato {
    padding-top: 15vh;
  }
}

/* Extra Large Devices (1280px+) */
@media (min-width: 1280px) {
  .cabecalho__titulo {
    margin-left: -6.4em;
  }

  .cabecalho__navegacao {
    margin-left: -16em;
  }

  .cabecalho--fixo .cabecalho__navegacao {
    margin-left: -23em;
  }

  .inicio {
    padding-bottom: 22vh;
    height: 6%;
    background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.904)),
      url(IMGS/home-back-grande.jpeg);
    background-size: cover;
    background-position: top;
  }

  .servicos {
    padding: 25vh 20em;
  }

  .depoimentos {
    padding: 25vh 15em;
  }
}

/* Ultra Wide Screens (1536px+) */
@media (min-width: 1536px) {
  .cabecalho__navegacao {
    margin-left: -24em;
  }

  .cabecalho__titulo {
    margin-left: -9.5em;
  }

  .cabecalho--fixo .cabecalho__navegacao {
    margin-left: -28em;
  }

  .inicio {
    padding: 0em 1em 1em 1em;
    background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.904)),
      url(IMGS/home-back-grande.jpeg);
    background-size: cover;
    background-position: top;
  }

  .inicio .titulo-destaque {
    font-size: 1.8em;
    margin: 0em -0.6em 1em -0.6em;
  }

  .inicio__descricao {
    font-size: 1.5em;
  }

  .titulo-secao {
    font-size: 4em;
  }

  .sobre {
    padding: 25vh auto;
  }

  .sobre__descricao {
    font-size: 2em;
    margin: 3em -15em 0.5em 0.5em;
  }

  .lista-valores {
    width: 30em;
    margin: 1em;
    padding: 1.8em;
  }

  .lista-valores .titulo-destaque {
    font-size: 2em;
    margin-top: -0.9em;
  }

  .lista-valores__item {
    font-size: 1.7em;
  }

  .servicos {
    padding: 18vh 25em;
  }

  .cartao-servico {
    padding: 1em;
    width: 20em;
    height: 15em;
    border-radius: 1.8em;
  }

  .cartao-servico:hover {
    height: 15em;
  }

  .cartao-servico__titulo {
    font-size: 1.5em;
  }

  .cartao-servico__descricao {
    font-size: 1em;
  }

  .depoimentos {
    padding: 18vh 1em;
  }

  .depoimentos .cartao-depoimento {
    width: 35%;
    transform: scale(1.7);
    margin: 3em 0;
  }

  .depoimentos .cartao-depoimento:hover {
    transform: scale(1.8);
  }
}
